body{
  margin:0;padding:0;
  background-color: #03817b;
  font-family: 'Special Elite', monospace;
  width: 100%;
}
#titulo {
  background-color:  #00ff9d;
  padding: 1%;
  
}

#container {
  position: sticky;
  right: 30%;
  float: right;
  margin-top: 1vh;
  margin-right: 6vw;
  box-sizing: content-box;
  display: grid;
  height: 49vh;
  width: 49vh;
  bottom: 20%;
  border: 1px rgba(0, 0, 0, 0.404) solid;
   
}

.cell{
  border: 1px rgba(0, 0, 0, 0.041) solid;
  background-color: rgb(255, 255, 255);
}

label{
  color: white;
}

#menu {
  position: sticky;
  left: 15%;
  padding-top: 5%;
  text-shadow: 2px 2px black;
}

.botoes {
    border-radius: 15%;
}